/*  ************  NAV  *************  */

#nav{display: block;position: relative;margin: 0 auto;
	width: 500px;height: 38px;top: 30px;z-index: 999;left: -40px;margin-bottom: 30px;}

.menu{margin:0;height:100%;}

.menu li{list-style:none;float: left;margin-left: 15px;width: 100px;}

.menu a{display:block;width:100%;height:100%;color: #fff;
text-decoration: none;font-size: 20px;background-color: #909090;
padding: 4px;border-radius: 5px;text-align: center;
transition: background-color 1s;
}
.menu a:hover{background-color: #ddd;color: #000;}

.menu li ul{position:relative;margin-left:-54px;width: 80px;
display:none;transition: display 1s;}

.menu li:hover ul{display:block;}

.menu li ul li{margin-top: 2px;}

/*  ************  TAB  *************  */

.tabela, .formulario {
    font-size: 18px;
    width: 600px;
    border-spacing: 0px;
    display: block;
    position: relative;
    margin: 0 auto;
    background-color: #fff;;
    text-align: left;
    border: 1px solid #000;
}

.tabela td {
    padding: 3px;
    border: 1px solid black;
    width: 200px;
    vertical-align: center;
}

.show td{width: 300px;}

.formulario p{display: block;position: relative;left: 90px;}
.formulario input{width: 300px; display: block;position: relative; left: 90px;top:-30px;}
.formulario button{display: block;position: relative;left: 180px;float: left;margin-left: 40px;}
